Package: danbots-wand-iolib
Version: 1.0.0-8
Architecture: all
#Architecture: armhf
Maintainer: Peter Holm <peter@L-Holm.dk>
Section: danbots/wand
Depends: python3 (>=3.8)
Priority: optional
Description: Wand IO packages for LED and buttons
