/dts-v1/;
/plugin/;

/* NOTE: some changes requires a double reboot to take effect. Often, after just a single reboot either buttons will not produce a response. */

/*
For reference, these settings has been found to work in an enclosure without optics

fragment@1 {
        target-path = "/soc/i2c@7e804000/mux@70/i2c@0"; //phandle for i2c channel 1 on pca954x
        __overlay__ {
            status = "okay";
            cap1293_0: cap1293_0@28 {
                compatible = "microchip,cap1293";
                interrupt-parent = <0xf1>; // this is subject to change unfortunately.. use "dtc -I fs /proc/device-tree > device-tree.txt" to see updated interrupt-parent //
                interrupts = <2 2>;
                microchip,signal-guard = <1>;
                microchip,sensitivity-delta-sense = <16>;
                reg = <0x28>;
                autorepeat;
                microchip,sensor-gain = <2>;
                microchip,calib-sensitivity = <4>;
                linux,keycodes = <103>,	<106>, <102>; // KEY_UP when triggered
                #address-cells = <1>;
                microchip,input-threshold = <40>, <50>, <127>;
                #size-cells = <0>;
                status = "okay";
            };
        };
    };

*/


/ {
    fragment@0 {
        target-path = "/soc/i2c@7e804000/mcp@20";
        //target = <0xf1>;
        __overlay__ {
            cap1293_pins_0: cap1293_pins_0 {
                brcm,pins = <2>;
                brcm,function = <0>; /* in */
                brcm,pull = <0>; /* none */
            };
        };
    };

    fragment@1 {
        target-path = "/soc/i2c@7e804000/mux@70/i2c@0"; //phandle for i2c channel 1 on pca954x
        __overlay__ {
            status = "okay";
            cap1293_0: cap1293_0@28 {
                compatible = "microchip,cap1293";
                interrupt-parent = <&cap1293_pins_0>;
                //interrupt-parent = <0xf1>;
                interrupts = <2 2>;
                microchip,signal-guard = <1>;
                microchip,sensitivity-delta-sense = <16>;
                reg = <0x28>;
                autorepeat;
                microchip,sensor-gain = <2>;
                microchip,calib-sensitivity = <4>;
                linux,keycodes = <103>,	<106>, <102>; // KEY_UP when triggered
                #address-cells = <1>;
                microchip,input-threshold = <40>, <50>, <127>;
                #size-cells = <0>;
                status = "okay";
            };
        };
    };

    fragment@2 {
        target-path = "/soc/i2c@7e804000/mcp@20";
        __overlay__ {
            cap1293_pins_1: cap1293_pins_1 {
                brcm,pins = <3>;
                brcm,function = <0>; /* in */
                brcm,pull = <0>; /* none */
            };
        };
    };

    fragment@3 {
        target-path = "/soc/i2c@7e804000/mux@70/i2c@1"; //phandle for i2c channel 1 on pca954x
        __overlay__ {
            status = "okay";
            cap1293_1: cap1293_1@28 {
                compatible = "microchip,cap1293";
                interrupt-parent = <&cap1293_pins_1>;
                interrupts = <3 2>;
                microchip,signal-guard = <1>;
                microchip,sensitivity-delta-sense = <16>;  
                reg = <0x28>;
                autorepeat;
                microchip,sensor-gain = <2>;
                microchip,calib-sensitivity = <4>;
                linux,keycodes = <108>,	<106>, <104>; // KEY_DOWN when triggered
                #address-cells = <1>;
                microchip,input-threshold = <40>, <50>, <127>;
                #size-cells = <0>;
                status = "okay";
            };
        };
    };

    int_pins: interrupt_pins {
        compatible = "interrupt-pins";
        int_pin_0: interrupt_0 {
            int_pin = <&cap1293_0>, "interrupts:0",
                      <&cap1293_pins_0>, "brcm,pins:0";
        };
        int_pin_1: interrupt_1 {
            int_pin = <&cap1293_1>, "interrupts:0",
                      <&cap1293_pins_1>, "brcm,pins:0";
        };
    };
};